@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

background:#0f172a;

color:white;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

width:500px;
height:500px;

background:#7c3aed;

filter:blur(180px);

left:-200px;

top:-100px;

opacity:.35;

z-index:-1;

}

body::after{

content:"";

position:fixed;

width:500px;
height:500px;

background:#06b6d4;

filter:blur(180px);

right:-150px;

bottom:-150px;

opacity:.25;

z-index:-1;

}

section{

padding:120px 8%;

}